<html ng-app="musicBoxes">
<head>
    <meta charset="UTF-8">
    <title>Music Boxes</title>
    <link rel="stylesheet" href="assets/plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body ng-controller="MusicController">
    
    
    
    <div class="sound-board">
        <div class="music-box" ng-class="{'active': box.lightUp}" ng-repeat="box in boxes" ng-mouseover="playNote(box)">
            {{box.note}}
            <audio id="{{box.note}}" ng-src="{{box.wave}}"></audio>
        </div>
        
    </div>
    
    <button ng-click="record()">Record</button>
    
    <button ng-click="playRecorded()">Play</button>
    
    
    
    
    
    
    <script src="assets/plugins/angular/angular.js"></script>
    
    <script src="app/config/init.js"></script>
    <script src="app/music-controller.js"></script>
</body>
</html>